{% extends 'catalog/base.html' %}
{% load image_tag %}
{% block content %}
{% for object in object_list %}
<div class="row text-center">
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
            </div>
            <div class="card-body">
                <img class="card-img-top"
                     src="/media/{{ object.image }}"
                     alt="Card image cap">
                <p class="card-text">Стоимость: {{ object.price }} р</p>
                <p class="card-text">Категория: {{ object.category }} </p>
                <p class="card-text">Описание: {{ object.description | truncatechars:100}}</p>
                <a href="{% url 'catalog:pk' object.pk %}">Подробнее</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}